.accordion .accordion-item{
    border: none !important;
    border-radius: 0px !important;
    background-color: transparent !important;
}
.accordion .accordion-item:hover a{
    background-color: #363d5a !important;
}
.accordion .accordion-item a{
    color: #fff !important;
    background-color: #262b40 !important;
    
}

.sidebar .nav-link .sidebar-icon {
    margin-right: 0rem !important;
    color: #ffffff;
}
.sidebar .multi-level .nav-link {
    padding-left: 15px !important;
}

body{
    background-color: #fff !important;
}
.navbar{
    padding: 0px 10px;
    background-color: #f0f0f0 !important;
}
.breadcrumb{
    margin-bottom: 0px !important;
}
.section_title{
    margin-bottom: 10px;
    font-size: 2rem;
    line-height: 1.16667em;
    font-weight: 600;
}
.section_title_1{
    margin-bottom: 10px;
    font-size: 1.5rem;
    line-height: 1.16667em;
    font-weight: 600;
}
.sub_title{
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.16667em;
    font-weight: 600;
}
.label_tamil{
    font-size: 0.75rem;
}
.form_2_2 tr td{
    border-right: 1px solid #8f8f8f;
}

.form_2A_table td, .form_2A_table th, .form_2A_table tr{
    border: 1px solid #8f8f8f;
}

.upload-label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .custom-file-input {
    border: 2px dashed #007bff;
    padding: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.3s ease;
  }
  
  .custom-file-input:hover {
    border-color: #0056b3;
  }

  .me-2 {
    margin-right: 10px !important;
}
.sidebar{
    background-color: rgb(38 43 64) !important;
}
.icon_details{
    margin: 0px 5px;
}
.pdf_heading{
    font-size: 28px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.pdfsub_heading{
    text-align: start;
    font-size: 20px;
    font-family: 600;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}
.dropdown-menu[data-bs-popper] {
    left: -50px !important;
}
.navbar-nav .nav-link i {
    margin-right: 0.3rem;
    font-size: 1.3rem;
    color: #84c342;
}
.sidebar-inner {
    overflow: hidden !important;
}
.consultant_box{
    border: 1px solid rgb(160 160 160);
    border-radius: 10px;
}
.consultant_details{
    padding: 15px;
}

.modal-dialog{
    position: absolute !important;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100vh !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.modal-content {
    height: 100vh !important;
    display: flex;
    justify-content: center;
}
.modal-backdrop.show {
    opacity: 0 !important;
}

.rdrMonth {
    width: 19.667em !important;
}
.rdrCalendarWrapper {
    width: 100%;
}
.form-check{
    display: flex !important;
    align-items: center !important;
}
.form-check-label{
    padding-left: 10px !important;
}
@media(max-width:1300px) and (min-width:1000px){
    .col-form-label {
        font-size: 15px !important;
    }
    .section_title {
        margin-bottom: 10px;
        font-size: 1.4rem;
        line-height: 1.16667em;
        font-weight: 600;
    }
    .breadcrumb_title{
        font-size: 14px !important;
    }
    .breadcrumb-item, .breadcrumb-item a {
        font-size: 0.7rem;
    }
    .form-control {
        font-size: 0.8rem;
    }
    .sidebar {
        width: 100%;
        max-width: 220px !important;
    }
    .sidebar-wrapper{
        width: 220px !important;
    }
}